.btn{
  border: none;
  padding: 12px 10px;
  &-primary{
    background: $yellow;
    font-size: 14px;
    color: $dark-background;
    font-weight: bold;
    transition: 0.3s all;
    &:hover{
      color: $dark-background;
      background: lighten($yellow, 5%);
      transition: 0.3s all;
    }
  }
}

// Social Login/Register buttons
.social-login{
  border-top: 1px solid $light-background;
  padding-top: 20px;
  &__list{

  }
  &__item{
    display: block;
    margin-bottom: 20px;
    &:last-child{ margin-bottom: 0; }
  }
  &__google, &__facebook{
    width: 100%;
    padding: 10px;
    font-size: 13px;
    font-weight: 600;
  }
  &__google{
    border: 2px solid #dadce0;
    background: #fff;
    color: #202124;
  }
  &__facebook{
    border: 2px solid darken(#2C88FF, 20%);
    background: #2C88FF;
    color: #fff;
  }
}