.btn{
  border: none;
  padding: 12px 10px;
  &-primary{
    background: $yellow;
    font-size: 14px;
    color: $dark-background;
    font-weight: bold;
    transition: 0.3s all;
    &:hover{
      color: $dark-background;
      background: lighten($yellow, 5%);
      transition: 0.3s all;
    }
  }
}

// Social Login/Register buttons
.social-login{
  &__google{

  }
  &__facebook{

  }
}