.form{
  // Custom Select
  &__select{
    padding: 0 10px;
    border-radius: 10px;
    border: 1px solid darken($light-background,10%);
    position: relative;
    &-label{
      color: $text;
      font-size: 12px;
      margin: 0;
      display: block;
    }
    &-selectbox{
      background: transparent;
      color: #fff;
      padding: 10px!important;
      border: 1px solid darken($light-background, 10%)!important;
      border-radius: 5px!important;
      margin-bottom: 20px;
      &:focus{
        outline: none;
        box-shadow: none!important;
      }
      .react-dropdown-select-dropdown{
        border: 1px solid darken($light-background, 10%);
        top: 60px!important;
        width: 100%!important;
      }
      .react-dropdown-select-item{
        background: $dark-background!important;
        color: $text;
        padding: 10px;
        border: none;
        font-size: 13px;
        transition: 0.3s all;
        font-weight: bold;
        &:hover{
          background: darken($light-background, 10%)!important;
          color: #fff;
          transition: 0.3s all;
        }
        lord-icon{
          display: inline-block;
          width: 25px;
          height: 25px;
          margin-right: 10px;
        }
      }
    }
  }
  // Custom Radio
  &__radio{
    &-input{
      position: absolute;
      opacity: 0;
      width: 0;
      height: 0;
      &+ .form__custom-radio{
        cursor: pointer;
      }
    }
    &-label{
    }
  }
}

input[type="text"], input[type="email"], input[type="password"]{
  color: #fff;
}

//input[type="text"], input[type="email"], input[type="password"]{
//  background: $light-background;
//  background: darken($dark-background, 5%);
//  border: none;
//  border: 1px solid darken($light-background, 10%);
//  width: 100%;
//  padding: 10px 20px 10px 40px;
//  color: #ffffff;
//  border-radius: 5px;
//  margin-bottom: 10px;
//  font-size: 16px;
//  &:focus{
//    outline: none;
//    box-shadow: none;
//    background: darken($dark-background, 5%);
//    border: 1px solid darken($light-background, 10%);
//    box-shadow: inset 0px -2px 0px 0px $yellow;
//  }
//  &:hover{
//    background: darken($dark-background, 5%);
//  }
//}
//.form-control{
//  height: auto;
//}
//.form-control:focus{ color: #fff; }
