

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap';

// Utils
@import 'utils';

// Branding
$light-background: #433a55;
$dark-background: #171420;
$light-text: #d3d1d6;
$text: #8c8895;
$red: #e5251f;
$yellow: #fecb47;
$green: #01AD26;

// Reset
@import 'reset';

// Typography
@import 'typography';

// Components -> Spitbox
@import 'components/spitbox';
@import 'components/CreateSpitbox';
@import 'components/modals';
@import 'components/preLoader';
@import 'components/userAvControls';