// Typography
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

// Icons
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

// Mortal Kombat Font
@font-face {
  font-family: 'Fighting-Spirit-TBS';
  src:  url('../fonts/Fighting-Spirit-TBS.ttf.woff') format('woff'),
  url('../fonts/Fighting-Spirit-TBS.ttf.svg#Fighting-Spirit-TBS') format('svg'),
  url('../fonts/Fighting-Spirit-TBS.ttf.eot');
  font-weight: normal;
  font-style: normal;
}