// Typography
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@font-face {
  font-family: 'Fighting-Spirit-TBS';
  src:  url('../fonts/Fighting-Spirit-TBS.ttf.woff') format('woff'),
  url('../fonts/Fighting-Spirit-TBS.ttf.svg#Fighting-Spirit-TBS') format('svg'),
  url('../fonts/Fighting-Spirit-TBS.ttf.eot');
  font-weight: normal;
  font-style: normal;
}